<h1>Minecraft Server Management</h1>
<h3>Control Panel</h3>
<p>This will have server status displayed (running, stopped), allow to change the difficulty,
and authenticate by password. Also it will show the server name and server logo (loaded from minecraft server of course.)</p>
<%= link_to 'Stop Server', controller: 'server', action: 'stop' %> <br>
<%= link_to 'Start Server', controller: 'server', action: 'start' %> <br>
<%= link_to 'Save Settings', controller: 'control_panel', action: 'save' %>

<table border="1">
  <tr>
    <th>Name</th>
    <th>Value</th>
  </tr>
  <% @properties.each do |propertyKey, propertyValue| %>
  <tr>
    <td><%= propertyKey%></td>
    <td><%= propertyValue%></td>
    <% end %>
  </tr>
</table>