<div class="container control_panel">
  <div class="row spacer">
    <%= render 'shared/info' %>
    <%= render 'shared/commands' %>
  </div>
  <div class="row">
    <%= render 'shared/settings' %>
    <%= render 'shared/navigation' %>
  </div>
  <%= render 'shared/copyright' %>
</div>

